.container-pr {
    text-align: center;
    padding: 20px;
  }
  
  .title-pr {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .cards-container-pr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-pr {
    background: #ffffff;
    /* border: 1px solid #e0e0e0;
    border-radius: 10px; */
    padding: 20px;
    width: calc(50% - 40px); /* Subtracting the gap */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: -3px 4px 16px 0px #0000000A;
    
    transition: transform 0.3s;
  }
  
  .card-pr:hover {
    transform: translateY(-5px);
  }
  
  .images-pr {
    display: flex;
    justify-content: center;
  }
  
  .image-wrapper-pr {
    position: relative;
    width: 120px; 
    height: 120px; 
    margin-bottom: 20px;
  }
  
  .ellipse-pr {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1%;
  }
  
  .service-icon-pr {
    position: absolute;
    width: 60%; 
    height: 60%;
    top: 20%;
    left: 20%;
  }
  
  .card-title-pr {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
  }
  
  .card-description-pr {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #333333;
    padding-left: 4%;
    padding-right: 4%;
    
  }
  
  @media (max-width: 768px) {
    .container-pr{
      width: 105%;
    }
    .cards-container-pr {
      flex-direction: column;
    }
  
    .card-pr {
      width: calc(100% - 40px); /* Adjusting for smaller screens */
    }
  }
  @media (max-width: 450px) {
   .container-pr{
    width: 185%;
   }
  }
 